.base {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0px;
  width: 0px;
  background: transparent;
  border-style: solid;
  border-width: 300px 200px 0 200px;
  border-color: burlyWood transparent transparent transparent;
}


/*waves*/ 


.waves {
  position: absolute;
  height: 0px;
  width: 0px;
  background: transparent;
  margin-top: -220px;
  top: 70%;
  left: 50%;
  border-style: solid;
  border-width: 50px 20px 20px 20px;
  animation-name: tide;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#wave1 { 
  border-color: transparent transparent aqua transparent;
  animation-duration: 6s;
  animation-delay: 0s;
}

#wave2 {
  border-color: transparent transparent cornflowerblue transparent; 
  animation-duration: 5s;
  animation-delay: 2s;
}

#wave3 { 
  border-color: transparent transparent lightblue transparent;
  animation-duration: 7s;
  animation-delay: 3s;
}

#wave4 { 
  border-color: transparent transparent aqua transparent;
  animation-duration: 7s;
  animation-delay: 4s;
}

#wave5 { 
  border-color: transparent transparent lightblue transparent;
  animation-duration: 12s;
  animation-delay: 5s;
}

#wave6 { 
  border-color: transparent transparent cornflowerblue transparent;
  animation-duration: 9s;
  animation-delay: 6s;
}

#wave7 { 
  border-color: transparent transparent aqua transparent;
  animation-duration: 20s;
  animation-delay: 1s;
}

#wave8 {
  border-color: transparent transparent cornflowerblue transparent; 
  animation-duration: 5s;
  animation-delay: 7s;
}

#wave9 { 
  border-color: transparent transparent lightblue transparent;
  animation-duration: 12s;
  animation-delay: 3s;
}

#wave10 { 
  border-color: transparent transparent aqua transparent;
  animation-duration: 9s;
  animation-delay: 4s;
}

#wave11 { 
  border-color: transparent transparent lightblue transparent;
  animation-duration: 90s;
  animation-delay: 2s;
}

#wave12 { 
  border-color: transparent transparent cornflowerblue transparent;
  animation-duration: 9s;
  animation-delay: 0s;
}

#wave13 { 
  border-color: transparent transparent aqua transparent;
  animation-duration: 6s;
  animation-delay: 6s;
}

#wave14 {
  border-color: transparent transparent cornflowerblue transparent; 
  animation-duration: 5s;
  animation-delay: 2s;
}

#wave15 { 
  border-color: transparent transparent lightblue transparent;
  animation-duration: 7s;
  animation-delay: 3s;
}

#wave16 { 
  border-color: transparent transparent aqua transparent;
  animation-duration: 7s;
  animation-delay: 4s;
}

#wave17 { 
  border-color: transparent transparent lightblue transparent;
  animation-duration: 12s;
  animation-delay: 5s;
}

#wave18 { 
  border-color: transparent transparent cornflowerblue transparent;
  animation-duration: 9s;
  animation-delay: 6s;
}

#wave19 { 
  border-color: transparent transparent aqua transparent;
  animation-duration: 5s;
  animation-delay: 1s;
}

#wave20 {
  border-color: transparent transparent cornflowerblue transparent; 
  animation-duration: 5s;
  animation-delay: 2s;
}

#wave21 { 
  border-color: transparent transparent lightblue transparent;
  animation-duration: 7s;
  animation-delay: 3s;
}

#wave22 { 
  border-color: transparent transparent aqua transparent;
  animation-duration: 7s;
  animation-delay: 4s;
}

#wave23 { 
  border-color: transparent transparent lightblue transparent;
  animation-duration: 12s;
  animation-delay: 5s;
}

#wave24 { 
  border-color: transparent transparent cornflowerblue transparent;
  animation-duration: 9s;
  animation-delay: 6s;
}

#wave25 { 
  border-color: transparent transparent aqua transparent;
  animation-duration: 5s;
  animation-delay: 1s;
}

#wave26 {
  border-color: transparent transparent cornflowerblue transparent; 
  animation-duration: 5s;
  animation-delay: 2s;
}

#wave27 { 
  border-color: transparent transparent lightblue transparent;
  animation-duration: 16s;
  animation-delay: 3s;
}

#wave28 { 
  border-color: transparent transparent aqua transparent;
  animation-duration: 7s;
  animation-delay: 4s;
}

#wave29 { 
  border-color: transparent transparent lightblue transparent;
  animation-duration: 12s;
  animation-delay: 5s;
}

#wave30 { 
  border-color: transparent transparent cornflowerblue transparent;
  animation-duration: 9s;
  animation-delay: 6s;
}


#wave31 { 
  border-color: transparent transparent aqua transparent;
  animation-duration: 20s;
  animation-delay: 2s;
}

#wave32 {
  border-color: transparent transparent cornflowerblue transparent; 
  animation-duration: 4.5s;
  animation-delay: 22s;
}

#wave33 { 
  border-color: transparent transparent lightblue transparent;
  animation-duration: 72s;
  animation-delay: 0s;
}

#wave34 { 
  border-color: transparent transparent aqua transparent;
  animation-duration: 17s;
  animation-delay: 10s;
}

#wave35 { 
  border-color: transparent transparent lightblue transparent;
  animation-duration: 22s;
  animation-delay: 3s;
}

#wave36 { 
  border-color: transparent transparent cornflowerblue transparent;
  animation-duration: 23s;
  animation-delay: 4s;
}

#wave37 { 
  border-color: transparent transparent aqua transparent;
  animation-duration: 32s;
  animation-delay: 1s;
}

#wave38 {
  border-color: transparent transparent cornflowerblue transparent; 
  animation-duration: 15s;
  animation-delay: 9s;
}

#wave39 { 
  border-color: transparent transparent lightblue transparent;
  animation-duration: 10s;
  animation-delay: 18s;
}

#wave40 { 
  border-color: transparent transparent aqua transparent;
  animation-duration: 14s;
  animation-delay: 9s;
}

@keyframes tide {
  from{transform: translateX(-200px)}   
  to{transform: translateX(160px)}
}

/**boat**/
.boat {
  position: absolute;
  z-index: -1;
  top: 70%;
  left: 50%;
  animation-name: sailing;
  animation-duration: 40s;
  animation-delay: 2s;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#hull {
  background: transparent;
  border: solid;
  border-color: tomato transparent transparent transparent;
  border-width: 20px 50px 0px 30px;
  height: 0px;
  width: 0px;
  margin-top: -180px;
  margin-left: -180px;
}

#mainsail {
  background: transparent;
  border: solid;
  border-color: transparent peachpuff transparent transparent;
  border-width: 50px 20px 0 15px;
  margin-top: -232px;
  margin-left: -187px;
}

#jib {
  background: transparent;
  border: solid;
  border-color: transparent transparent transparent peachpuff;
  border-width: 45px 30px 0 30px;
  margin-top: -227px;
  margin-left: -150px;
}

@keyframes sailing {
  from{transform: translateX(-0px)}   
  to{transform: translateX(300px)}
}
